<div class='specific_user'>
  <h2><%=link_to @person.name,"http://vimeo.com/#{@person.vimeo_username}" %> </h2>
</div>

<div data-behavior='pagination'>
  <%= render @videos %>
</div>

<%= will_paginate @videos %>
